SPRING_APPLICATION_NAME=prescription-service
SERVER_PORT=8083

SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=admin123
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/claimbridge_prescription

SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect

EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE=http://localhost:8761/eureka/
EUREKA_CLIENT_REGISTER_WITH_EUREKA=true
EUREKA_CLIENT_FETCH_REGISTRY=true

EUREKA_INSTANCE_PREFER_IP_ADDRESS=true
EUREKA_INSTANCE_IP_ADDRESS=127.0.0.1
EUREKA_INSTANCE_HOSTNAME=127.0.0.1
EUREKA_INSTANCE_INSTANCE_ID=${SPRING_APPLICATION_NAME}:${SERVER_PORT}

SPRING_CLOUD_INETUTILS_PREFERRED_NETWORKS=127.0.0.1
SPRING_CLOUD_INETUTILS_IGNORED_INTERFACES=awdl0,utun0,utun1,utun2

SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
SPRING_KAFKA_CONSUMER_GROUP_ID=prescription-service-group
SPRING_KAFKA_CONSUMER_AUTO_OFFSET_RESET=earliest
SPRING_KAFKA_CONSUMER_KEY_DESERIALIZER=org.apache.kafka.common.serialization.StringDeserializer
SPRING_KAFKA_CONSUMER_VALUE_DESERIALIZER=org.apache.kafka.common.serialization.StringDeserializer