spring.application.name=${SPRING_APPLICATION_NAME}

server.port=${SERVER_PORT}

spring.datasource.driver-class-name=${DB_DRIVER}
spring.datasource.url=${DB_URL}
spring.datasource.username=${DB_USERNAME}
spring.datasource.password=${DB_PASSWORD}

spring.jpa.hibernate.ddl-auto=${JPA_DDL_AUTO}
spring.jpa.properties.hibernate.dialect=${JPA_DIALECT}

jwt.secret.key=${JWT_SECRET_KEY}

eureka.client.service-url.defaultZone=${EUREKA_SERVER_URL}
eureka.client.register-with-eureka=${EUREKA_REGISTER}
eureka.client.fetch-registry=${EUREKA_FETCH}

eureka.instance.prefer-ip-address=true
eureka.instance.ip-address=${EUREKA_IP_ADDRESS}
eureka.instance.hostname=${EUREKA_HOSTNAME}
eureka.instance.instance-id=${spring.application.name}:${server.port}

spring.cloud.inetutils.preferred-networks=${PREFERRED_NETWORKS}
spring.cloud.inetutils.ignored-interfaces=${IGNORED_INTERFACES}

spring.kafka.bootstrap-servers=${KAFKA_BOOTSTRAP_SERVERS}
spring.kafka.producer.key-serializer=${KAFKA_KEY_SERIALIZER}
spring.kafka.producer.value-serializer=${KAFKA_VALUE_SERIALIZER}
spring.kafka.producer.properties.spring.json.add.type.headers=${KAFKA_ADD_TYPE_HEADERS}