spring.application.name=ClaimBridge-Gateway
server.port=8765

spring.cloud.gateway.server.webflux.routes[0].id=auth-service
spring.cloud.gateway.server.webflux.routes[0].uri=lb://claimbridge-auth-service
spring.cloud.gateway.server.webflux.routes[0].predicates[0]=Path=/api/auth/**

eureka.client.service-url.defaultZone=http://localhost:8761/eureka/
eureka.client.register-with-eureka=true
eureka.client.fetch-registry=true

eureka.instance.prefer-ip-address=true
eureka.instance.ip-address=127.0.0.1
eureka.instance.hostname=127.0.0.1
eureka.instance.instance-id=${spring.application.name}:${server.port}
spring.cloud.gateway.server.webflux.routes[0].metadata.connect-timeout=1000
spring.cloud.gateway.server.webflux.routes[0].metadata.response-timeout=2000

ribbon.eureka.enabled=false
spring.cloud.loadbalancer.ribbon.enabled=false
spring.cloud.gateway.server.webflux.httpclient.wiretap=false
spring.cloud.inetutils.preferred-networks=127.0.0.1
spring.cloud.inetutils.ignored-interfaces=awdl0,utun0,utun1,utun2
#refresh in every 5 sec
spring.cloud.loadbalancer.cache.ttl=5s
spring.cloud.loadbalancer.cache.capacity=256
spring.cloud.loadbalancer.eureka.enabled=true
eureka.client.should-enforce-registration-at-init=true
eureka.client.initial-instance-info-replication-interval-seconds=5
eureka.client.instance-info-replication-interval-seconds=5
eureka.client.registry-fetch-interval-seconds=5